<!doctype html>
<html lang="en">
  <head>
    <title>Community Mapping</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
  
    <div id="content">
      {{{body}}}
    </div>

    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
