<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Community Mapping</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/CommunityMapping.css">
  </head>
  <body>
  
    <div id="content">
      {{{body}}}
    </div>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGAICynaZuoZb0cR3dTTrPh61A1S9z7Ys&sensor=false">
    </script>
    <script type="text/javascript" src="js/CommunityMapping.js"></script>
    <script type="text/javascript" src="bootstrap/bootstrap.js"></script>
  </body>
</html>
