<div class="admin-container">
	<h1 id="logo">Community Mapping</h1>
	<h2>API</h2>
		<h3>Map</h3>
		<dl>
			<dt><strong>(GET) Index:</strong> Get all maps</dt>
			<dd class="code">/api/map/index</dd>

			<dt><strong>(GET) Get by ID:</strong> Get a single map by its ID number</dt>
			<dd class="code">/api/map/&lt;<em>id</em>&gt;</dd>
		</dl>

		<h3>Canvas</h3>
		<dl>
			<dt><strong>(GET) Get by ID:</strong> Get a single canvas by its ID number</dt>
			<dd class="code">/api/canvas/&lt;<em>id</em>&gt;</dd>
		</dl>

		<h3>Shape</h3>
		<dl>
			<dt><strong>(GET) Get by ID:</strong> Get a single shape by its ID number</dt>
			<dd class="code">/api/shape/&lt;<em>id</em>&gt;</dd>

			<dt><strong>(GET) Get by timerange:</strong> Get all shapes created between a given timerange</dt>
			<dd class="code">/api/shape/timerange/&lt;<em>start</em>&gt;/&lt;<em>end</em>&gt;/&lt;<em>page</em>&gt;[/&lt;<em>max</em>&gt;]</dd>

			<dt><strong>(POST) Add:</strong> Add a shape</dt>
			<dd class="code">/api/shape</dd>
		</dl>

		<h3>Story</h3>
		<dl>
			<dt><strong>(GET) Get by ID:</strong> Get a single story by its ID number</dt>
			<dd class="code">/api/story/&lt;<em>id</em>&gt;</dd>

			<dt><strong>(GET) Get by spacerange:</strong> Get all stories with coordinates between a given range</dt>
			<dd class="code">/api/story/spacerange/&lt;<em>lat1</em>&gt;/&lt;<em>lng1</em>&gt;/&lt;<em>lat2</em>&gt;/&lt;<em>lng2</em>&gt;/&lt;<em>page</em>&gt;[/&lt;<em>max</em>&gt;]</dd>

			<dt><strong>(POST) Add:</strong> Add a story</dt>
			<dd class="code">/api/story</dd>
		</dl>
</div>