<div class="row">
	<div class="col-sm-12">
		<h1>Maps <a href="#/map/add" class="btn btn-default add-map" role="button">+ Add Map</a></h1>
	</div>
</div>
<div class="row map-index-item-container"></div>
<div class="row">
	<div class="col-sm-12 pagination-btn-group">
		<a href="#" class="btn btn-default prev" role="button">&larr; Prev</a><a href="#" class="btn btn-default next" role="button">Next &rarr;</a>
	</div>
</div>